@CHARSET "UTF-8";

/**
* Index page
**/
.index_page {
	background:rgba(0,0,0,0.1);
}

.text-dark {
	color:#333;
}

#statistic {
}

#statistic>div {
	padding:5px;
	background:rgba(255,55,155,0.3);
}

#chat {
	height:100%;
	margin-top: -52px;
    padding-top: 62px;
    margin-bottom: -150px;
    padding-bottom: 150px;
}

#send_form {
	height:150px;
}

.chat_page {
	background:url("?action=source&file=img%2Ftriangle.gif");
	background-size:auto 100%;
}

#text_message {
    resize: none;
    width:100%;
    height:100px;
    
}

#send_message_form {
	padding:10px 15px;
	height:100%;
	background:rgba(155,0,105,0.35);
	margin-bottom:0 !important;
	border-radius:2px;
}

@media (min-width:1200px) {
	#chat {
		padding-left:23%;
		padding-right:23%;		
	}

}


#messages_container {
	background:rgba(255,255,255,0.2);
	height:100%;
	overflow:auto !important;
}

.message-body {
	margin-top:10px;
	display: inline-block;
	max-width:70%;
	border-radius:5px;
	padding:10px;
}

.message-container {
	background: rgba(255,255,255,0.7);
	padding:10px;
}

.message-status {
	font-weight: bold;
	font-size:12px;
	color: #936;
}

.message-text {
	color:#333;
	font-size:14px;
}

.message-time {
	color:green;
}

.message-img {
	max-width:100%;
	
}
