<meta name="nickname" value="{{ name }}"/>
<div class="container-fluid">
<section id="statistic">
	<div class="row">
		<div class="col-md-4 col-md-offset-8 text-dark text-center">
        	<h4>You logged in as {{ name }} <span class="glyphicon glyphicon-user"></span></h4>
        </div>
    </div>
</section>
<section id="chat" class="text-center">
	<div class="row" id="messages_container">
		<div class="col-md-12">
			<h3><i>no message yet</i></h3>
		</div>
	</div>
</section>
<section id="send_form">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form id="send_message_form" class="text-center">
				<textarea name="message" id="text_message"></textarea>
				<button class="btn btn-warning col-md-12">Submit</button>
			</form>
		</div>
	</div>
</section>
</div>