<section class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
        	<h1>Welcome to test chat!</h1>
        
            <form action="/">
            	<input name="action" value="chat" type="hidden"/>
            	<div class="form-group">
            		
				    <label for="userName">Enter your nickname</label>
				    <br/>
            		<input name="name" id="userName" type="text"/>
            		<button>OK</button>
            	</div>
            </form>
        </div>
    </div>
</section>