<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Test Chat</title>
<link rel="shortcut icon" href="/?action=source&file=favicon.ico" />
{{ css }}
</head>
<body class="{{ action }}_page">

{{ content }}

{{ js }}

</body>
</html>